.nav-item{
    &:before {
        display: block;
        content: "";
        position: relative;
        background-color: white;
        width: 0%;
        height: .2em;
        top: 100%;
        left: 0;
    }
    &:hover {
        &:before{
            width: 100%;
            transition: 0.3s ease-in-out;
        }
    }   
}